///////////////
// VARIABLES //
///////////////
@import 'common/variables.scss';


////////////
// GLOBAL //
////////////
@import 'common/global.scss';


////////////////
// COMPONENTS //
////////////////
@import 'common/components.scss';


////////////////
// ANIMATIONS //
////////////////
@import 'common/animations.scss';


/////////////
// CONTENT //
/////////////
.container { width: 88%; }

.title {
    color: #414554;
    color: #525769;
    font-size: 2.2rem;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 2.5rem;
}

@media only screen and (min-width: 48em) {
    .container {
        width: 82%;
        max-width: 75rem;
    }
}

@media only screen and (min-width: 64em) {
    .col-md,
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-offset-0,
    .col-md-offset-1,
    .col-md-offset-10,
    .col-md-offset-11,
    .col-md-offset-12,
    .col-md-offset-2,
    .col-md-offset-3,
    .col-md-offset-4,
    .col-md-offset-5,
    .col-md-offset-6,
    .col-md-offset-7,
    .col-md-offset-8,
    .col-md-offset-9 {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}


////////////
// HEADER //
////////////
.header-image { width: 100%; }


//////////////
// PRODUCTS //
//////////////
.catalog {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.slider {

    &:hover > *{
        // transform: translate3d(-100%,0,0);
    }
    & > * {
        transition: transform .3s ease;
    }
}


/////////
// CTA //
/////////
.cta {
    background-image: url('../images/just-do-it.jpg');
    background-position: center center;
    background-size: cover;
    padding-top: 24vh;
    padding-bottom: 24vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    .title {
        color: #fff;
        font-size: 4rem;
        font-weight: 900;
        text-transform: uppercase;
        margin-top: 0;
    }
}


////////////
// FOOTER //
////////////
.footer {
    color: #999;
    font-size: .9rem;
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
