.categories
    .category
        input#cano-alto.checkbox(type='checkbox', data-filter='cano-alto')
        label(for="cano-alto") Cano alto
    .category
        input#cano-baixo.checkbox(type='checkbox', data-filter='cano-baixo')
        label(for="cano-baixo") Cano baixo
    .category
        input#futebol-campo.checkbox(type='checkbox', data-filter='campo')
        label(for="futebol-campo") Futebol Campo
    .category
        input#futebol-society.checkbox(type='checkbox', data-filter='society')
        label(for="futebol-society") Futebol Society
