doctype html
html(lang='pt-br')
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="theme-color", content="#ff5c2b")
            
        title Product Challenge
        
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,700,900')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css')
        link(rel='stylesheet', href='css/main.css')
            
        link(rel='icon', type='image/png', sizes='32x32', href='images/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='16x16', href='images/favicon-16x16.png')
        
    body
        nav.menu-mobile
            - const menuMobileItems = ['Masculino', 'Feminino', 'Menino', 'Menina'];
            each item in menuMobileItems
                a.menu-item(href='#')= item

        nav.navbar
            .navbar-fixed
                .container
                    .hamburger.btn-mobile-menu
                        .hamburger-icon
                            .hamburger-line
                        .hamburger-label Menu
                    
                    a(href='index.html')
                        img.logo(src='images/nike-logo.png', alt='Logo da Nike')
                    
                    ul.menu
                        - const menuItems = ['Masculino', 'Feminino', 'Menino', 'Menina'];
                        each item in menuItems
                            li.menu-item: a.menu-link(href='#')= item
                            
                    a.cart-button(href='#')
                        img.cart-image(src='images/cart.png', alt='Ícone do carrinho de compras')
                            
        block content
            
        script(src='js/main.js')
        script(src='js/modules/product.js')
        script(src='js/modules/cart.js')
        
        block pageScripts
