extends includes/template.pug

block content
    nav.navbar
        .navbar-fixed
            .container
                a.btn-mobile-menu(href='#') Menu
                
                img.logo(src='images/nike-logo.png', alt='Logo da Nike')
                
                ul.menu
                    - const menuItems = ['Masculino', 'Feminino', 'Menino', 'Menina'];
                    each item in menuItems
                        li.menu-item: a.menu-link(href='#')= item
                        
                a.cart-button(href='#', data-count='0')
                    img.cart-image(src='images/cart.png', alt='Ícone do carrinho de compras')
            
    header.header
        img.header-image(src='images/banner.png', alt='Jogador chutando uma bola')
        
    .container
        h4.products-list-title Mais vendidos
        .products-group.slider.row
        
