extends includes/template.pug

block content
    nav.menu-mobile
        - const menuMobileItems = ['Masculino', 'Feminino', 'Menino', 'Menina'];
        each item in menuMobileItems
            a.menu-item(href='#')= item
    
    nav.navbar
        .navbar-fixed
            .container
                .hamburger.btn-mobile-menu
                    .hamburger-icon
                        .hamburger-line
                    .hamburger-label Menu
                
                img.logo(src='images/nike-logo.png', alt='Logo da Nike')
                
                ul.menu
                    - const menuItems = ['Masculino', 'Feminino', 'Menino', 'Menina'];
                    each item in menuItems
                        li.menu-item: a.menu-link(href='#')= item
                        
                a.cart-button(href='#', data-count='0')
                    img.cart-image(src='images/cart.png', alt='Ícone do carrinho de compras')
            
    header.header
        img.header-image(src='images/banner.png', alt='Jogador chutando uma bola')
        
    section.container
        .filter
            strong.filter-title Chuteiras HyperVenom:
            .categories
                .category
                    input#cano-alto.checkbox(type='checkbox')
                    label(for="cano-alto") Cano alto
                .category
                    input#cano-baixo.checkbox(type='checkbox')
                    label(for="cano-baixo") Cano baixo
                .category
                    input#futebol-campo.checkbox(type='checkbox')
                    label(for="futebol-campo") Futebol Campo
                .category
                    input#futebol-society.checkbox(type='checkbox')
                    label(for="futebol-society") Futebol Society
            a.btn.btn-dark(href='#') Todos os produtos
            
        .catalog            
            .products.products-best-sellers
                h4.products-title Mais vendidos
                .slider.row
                .slider-bullets
                    
            .products.products-releases
                h4.products-group-title Lançamentos
                .slider.row
                .slider-bullets
        
    section.cta
        h2.title Just do it.
        a.btn.btn-dark(href='#') Todos os produtos

    footer.footer
        p Nike Copyright 2017 - all rights reserved
