extends includes/template.pug

block content
            
    header.header
        img.header-image(src='images/banner.png', alt='Jogador chutando uma bola')
        
    section.container
        .filter
            strong.filter-title Chuteiras HyperVenom:
            .categories
                .category
                    input#cano-alto.checkbox(type='checkbox', data-filter='cano-alto')
                    label(for="cano-alto") Cano alto
                .category
                    input#cano-baixo.checkbox(type='checkbox', data-filter='cano-baixo')
                    label(for="cano-baixo") Cano baixo
                .category
                    input#futebol-campo.checkbox(type='checkbox', data-filter='campo')
                    label(for="futebol-campo") Futebol Campo
                .category
                    input#futebol-society.checkbox(type='checkbox', data-filter='society')
                    label(for="futebol-society") Futebol Society
            a.btn.btn-dark(href='#') Todos os produtos
            
        .catalog            
            .products.products-best-sellers
                h4.products-title Mais vendidos
                .slider.row
                .slider-bullets
                    
            .products.products-releases
                h4.products-group-title Lançamentos
                .slider.row
                .slider-bullets
        
    section.cta
        .container
            h2.title Just do it.
            a.btn.btn-dark(href='#') Todos os produtos

    footer.footer.container
        p Nike Copyright 2017 - all rights reserved
