extends includes/template.pug

block content
    section.container.single-product
                
    #personalize.modal
        a.close-icon(href='#')
        .personalize-widget.row
            .col-xs-12.col-sm-7.wrapper
                img.image(src='', alt='Imagem do produto')
                .name Seu nome
                .logo
            .col-xs-12.col-sm-5
                h3.modal-title Personalize
                .input-group
                    label.label(for='#name') Digite seu nome
                    input#input-name.input(type='text', placeholder='Seu nome', maxLength='10')
                .input-group
                    label.label(for='#color') Escolha uma cor para o texto
                    input#color-picker(type='color')

    a.overlay(href='#')
        
        
block pageScripts
    script(src='js/pages/produto.js')
    
