extends includes/template.pug

block content
    section.container.single-product
                
    #personalize.modal
        a.close-icon(href='#')
        .row
            .col-xs-12.col-md-7
                img.personalize-image(src='', alt='Imagem do produto')
            .col-xs-12.col-md-5
                h3.modal-title Personalize
                label(for='#name') Digite seu nome
                input#name(type='text')
                label(for='#color') Escolha uma cor para o texto
                input#color(type='color')

    a.overlay(href='#')
        
        
block pageScripts
    script(src='js/pages/produto.js')
    
