html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  position: relative; }

figure {
  margin: 0; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

a {
  text-decoration: none; }

/*
 * Buttons
 */
.btn {
  background-color: #ff5c2b;
  border: 0;
  border-radius: .3rem;
  color: #fff;
  font-family: inherit;
  font-size: .9rem;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  padding: 1rem 1.2rem;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
  cursor: pointer;
  outline: none; }

.btn:hover {
  opacity: .7; }

.btn-dark {
  background-color: #313131;
  color: #fff; }

/*
 * Menu
 */
.hamburger {
  color: #000;
  padding: .5rem 0;
  cursor: pointer;
  font-size: .7rem;
  font-weight: 900;
  text-transform: uppercase;
  background-color: transparent;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.hamburger-icon {
  width: 32px;
  height: 18px;
  position: relative; }

.hamburger-label {
  padding-left: .5rem; }

.hamburger-line {
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease; }

.hamburger-line, .hamburger-line::before, .hamburger-line::after {
  position: absolute;
  left: 0;
  width: 32px;
  height: calc(18px / 9);
  background-color: #000;
  border-radius: 2rem; }

.hamburger-line::before {
  content: '';
  top: calc(-18px + 500%);
  -webkit-transition: top .1s .25s ease-in, opacity .1s ease-in;
  -o-transition: top .1s .25s ease-in, opacity .1s ease-in;
  transition: top .1s .25s ease-in, opacity .1s ease-in; }

.hamburger-line::after {
  content: '';
  bottom: calc(-18px + 500%);
  -webkit-transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.2);
  transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.2);
  -o-transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.2);
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.2);
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.2), -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.2); }

.hamburger.active .hamburger-line {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.hamburger.active .hamburger-line::before {
  top: 0;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease; }

.hamburger.active .hamburger-line::after {
  bottom: 0;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

.menu-overlay.active {
  background-color: rgba(0, 0, 0, 0.85);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2; }

.menu-mobile {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: calc(100vh - 64px);
  margin-top: 64px;
  z-index: 9;
  opacity: 0; }

.menu-mobile .menu-item {
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
  opacity: 0;
  -webkit-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition: opacity .2s ease; }

.menu-mobile .menu-item + .menu-item {
  margin-top: 2rem; }

.menu-mobile.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 1;
  -webkit-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition: opacity .2s ease; }

.menu-mobile.active .menu-item:nth-child(1) {
  -webkit-animation-name: slideRight;
          animation-name: slideRight;
  -webkit-animation-duration: .8s;
          animation-duration: .8s;
  -webkit-animation-delay: 0.08s;
          animation-delay: 0.08s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.25, 0.03, 0.25, 1);
          animation-timing-function: cubic-bezier(0.25, 0.03, 0.25, 1); }

.menu-mobile.active .menu-item:nth-child(2) {
  -webkit-animation-name: slideRight;
          animation-name: slideRight;
  -webkit-animation-duration: .8s;
          animation-duration: .8s;
  -webkit-animation-delay: 0.16s;
          animation-delay: 0.16s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.25, 0.03, 0.25, 1);
          animation-timing-function: cubic-bezier(0.25, 0.03, 0.25, 1); }

.menu-mobile.active .menu-item:nth-child(3) {
  -webkit-animation-name: slideRight;
          animation-name: slideRight;
  -webkit-animation-duration: .8s;
          animation-duration: .8s;
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.25, 0.03, 0.25, 1);
          animation-timing-function: cubic-bezier(0.25, 0.03, 0.25, 1); }

.menu-mobile.active .menu-item:nth-child(4) {
  -webkit-animation-name: slideRight;
          animation-name: slideRight;
  -webkit-animation-duration: .8s;
          animation-duration: .8s;
  -webkit-animation-delay: 0.32s;
          animation-delay: 0.32s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.25, 0.03, 0.25, 1);
          animation-timing-function: cubic-bezier(0.25, 0.03, 0.25, 1); }

/*
 * Filter
 */
/*
 * Categories
 */
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #999;
  margin-bottom: 2rem; }

.filter .btn {
  margin-left: auto; }

.category {
  margin-top: .5rem;
  margin-bottom: .5rem; }

@media only screen and (min-width: 48em) {
  .filter-title {
    margin-right: 1.5rem; }
  .category {
    display: inline-block; }
  .category + .category {
    margin-left: 1.6rem; } }

@media only screen and (max-width: 48em) {
  .filter > * {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
  .filter > .btn {
    margin-top: 1rem; } }

.checkbox {
  position: absolute;
  pointer-events: none;
  opacity: 0; }

.checkbox + label {
  position: relative;
  padding-left: 1.6rem;
  cursor: pointer;
  color: #999;
  font-size: .9rem;
  font-weight: 700;
  line-height: 1.3; }

.checkbox + label::before, .checkbox + label::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0; }

.checkbox + label::before {
  background-color: #fafafa;
  border: 1px solid #ccc;
  width: 18px;
  height: 18px;
  -webkit-transition: background-color .3s ease;
  -o-transition: background-color .3s ease;
  transition: background-color .3s ease; }

.checkbox + label::after {
  width: 5px;
  height: 11px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  left: 6px;
  top: 2px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 0;
  -webkit-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition: opacity .2s ease; }

.checkbox:checked + label::before {
  background-color: #ff5c2b;
  border: 1px solid #ff5c2b; }

.checkbox:checked + label::after {
  opacity: 1; }

/*
 * Slider
 */
.slider {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: scroll;
  padding-top: 1rem; }

/*
 * Bullets to controll the slider
 */
.slider-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ddd;
  cursor: pointer; }

.bullet.active {
  background-color: #ccc; }

.bullet + .bullet {
  margin-left: .5rem; }

/*
 * Product
 */
/*
 * Group of products
 */
.products-title {
  margin-top: 0; }

.products + .products {
  margin-top: 2rem; }

/*
 * Product item
 */
.product {
  border: 2px solid transparent;
  font-size: .9rem;
  line-height: 1.6;
  padding: 1rem 1rem 2rem 1rem;
  margin-bottom: 1rem;
  -webkit-transition: border-color .4s ease, -webkit-transform .6s ease;
  transition: border-color .4s ease, -webkit-transform .6s ease;
  -o-transition: transform .6s ease, border-color .4s ease;
  transition: transform .6s ease, border-color .4s ease;
  transition: transform .6s ease, border-color .4s ease, -webkit-transform .6s ease; }

.product:hover {
  -webkit-transform: translate3d(0, -0.8rem, 0);
          transform: translate3d(0, -0.8rem, 0);
  border-color: #eee; }

.product:hover .btn {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.product-personalize {
  color: #666;
  font-size: .8rem;
  text-transform: uppercase;
  padding-bottom: .2rem;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.product-personalize .icon {
  margin-right: .4rem; }

.product-title {
  color: #010101;
  font-weight: 700;
  line-height: 1.2; }

.product-top {
  color: #999;
  text-transform: capitalize; }

.product-price {
  color: #666; }

.product-price .price-normal {
  display: block;
  font-size: 1.1rem;
  font-weight: 700; }

.product .btn {
  width: 100%;
  margin-top: 1rem;
  line-height: 1.1;
  opacity: 0;
  -webkit-transform: translate3d(0, 0.2rem, 0);
          transform: translate3d(0, 0.2rem, 0);
  -webkit-transition: opacity .3s ease .15s, background-color .3s ease, -webkit-transform .4s ease .15s, -webkit-box-shadow .3s ease;
  transition: opacity .3s ease .15s, background-color .3s ease, -webkit-transform .4s ease .15s, -webkit-box-shadow .3s ease;
  -o-transition: opacity .3s ease .15s, transform .4s ease .15s, background-color .3s ease, box-shadow .3s ease;
  transition: opacity .3s ease .15s, transform .4s ease .15s, background-color .3s ease, box-shadow .3s ease;
  transition: opacity .3s ease .15s, transform .4s ease .15s, background-color .3s ease, box-shadow .3s ease, -webkit-transform .4s ease .15s, -webkit-box-shadow .3s ease; }

.product .btn:hover {
  background-color: rgba(255, 92, 43, 0.7);
  -webkit-box-shadow: 0 2px 35px 0 rgba(255, 92, 43, 0.3);
          box-shadow: 0 2px 35px 0 rgba(255, 92, 43, 0.3); }

/*
 * Animate something when the page is loaded
 */
.has-animation {
  opacity: 0; }

.has-animation.is-visible {
  -webkit-animation: showUp .6s ease forwards;
          animation: showUp .6s ease forwards; }

/*
 * Single product
 */
.single-product {
  font-size: .9rem;
  padding-bottom: 3rem; }

.single-product .product-image {
  width: 100%;
  height: 70vh;
  max-height: 50vh;
  background-size: cover;
  background-position: center center; }

.single-product .product-title {
  margin-bottom: .2rem; }

.single-product .product-price {
  margin-top: 1rem; }

.single-product .product-price .price-normal {
  font-size: 1.2rem; }

.single-product .product-actions {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.single-product .product-actions .btn {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }

.single-product .product-actions .btn + .btn {
  margin-top: 1rem; }

@media only screen and (min-width: 48em) {
  .single-product .product-image {
    max-height: 500px; }
  .single-product .product-actions .btn {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%; }
  .single-product .product-actions .btn + .btn {
    margin-top: 0; } }

/*
 * Cart
 */
/*
 * Cart button
 */
.cart-button {
  position: relative; }

.cart-button::after {
  content: attr(data-count);
  position: absolute;
  top: -8%;
  right: -20%;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: #ff5c2b;
  color: #fff;
  font-size: .8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.cart-image {
  max-width: 2.3rem; }

/*
 * Loading
 */
.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.loading span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ff5c2b;
  margin: 4px;
  -webkit-animation: dots 0.6s cubic-bezier(0.6, 0.1, 1, 0.4);
          animation: dots 0.6s cubic-bezier(0.6, 0.1, 1, 0.4);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate; }

.loading span:nth-child(0) {
  -webkit-animation-delay: .1s;
          animation-delay: .1s; }

.loading span:nth-child(2) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s; }

.loading span:nth-child(3) {
  -webkit-animation-delay: .3s;
          animation-delay: .3s; }

.loading span:nth-child(4) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s; }

@-webkit-keyframes dots {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  to {
    -webkit-transform: translate3d(0, 30px, 0);
            transform: translate3d(0, 30px, 0); } }

@keyframes dots {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  to {
    -webkit-transform: translate3d(0, 30px, 0);
            transform: translate3d(0, 30px, 0); } }

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translate3d(-1.4rem, 0, 0);
            transform: translate3d(-1.4rem, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1; } }

@keyframes slideRight {
  0% {
    -webkit-transform: translate3d(-1.4rem, 0, 0);
            transform: translate3d(-1.4rem, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1; } }

@-webkit-keyframes showUp {
  0% {
    -webkit-transform: translate3d(0, 1rem, 0);
            transform: translate3d(0, 1rem, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1; } }

@keyframes showUp {
  0% {
    -webkit-transform: translate3d(0, 1rem, 0);
            transform: translate3d(0, 1rem, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1; } }

.container {
  width: 88%; }

.title {
  color: #414554;
  color: #525769;
  font-size: 2.2rem;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 2.5rem; }

@media only screen and (min-width: 48em) {
  .container {
    width: 82%;
    max-width: 75rem; } }

@media only screen and (min-width: 64em) {
  .col-md,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-offset-0,
  .col-md-offset-1,
  .col-md-offset-10,
  .col-md-offset-11,
  .col-md-offset-12,
  .col-md-offset-2,
  .col-md-offset-3,
  .col-md-offset-4,
  .col-md-offset-5,
  .col-md-offset-6,
  .col-md-offset-7,
  .col-md-offset-8,
  .col-md-offset-9 {
    padding-left: 1.5rem;
    padding-right: 1.5rem; } }

.navbar {
  height: 64px; }

.navbar .navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 9;
  -webkit-transform: translateZ(0);
  /* Avoids "jump" bug with fixed elements on chrome */
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  /* Do the same job */ }

.navbar .container {
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: .8rem;
  padding-bottom: .8rem; }

.navbar .logo {
  max-width: 5rem; }

.navbar .menu {
  display: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0; }

.navbar .menu-item {
  list-style: none;
  display: inline-block; }

.navbar .menu-link {
  color: #000;
  font-size: .83rem;
  font-weight: 700;
  text-transform: uppercase; }

@media only screen and (min-width: 48em) {
  .navbar .container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .navbar .btn-mobile-menu {
    display: none; }
  .navbar .menu {
    display: block;
    margin-left: 2rem; }
  .navbar .menu-item + .menu-item {
    margin-left: 1rem; }
  .navbar .cart-button {
    margin-left: auto; } }

.header-image {
  width: 100%; }

.catalog {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.slider > * {
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease; }

.cta {
  background-image: url("../images/just-do-it.jpg");
  background-position: center center;
  background-size: cover;
  padding-top: 24vh;
  padding-bottom: 24vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center; }

.cta .title {
  color: #fff;
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 0; }

.footer {
  color: #999;
  font-size: .9rem;
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem; }
