/*
 * Cart button
 */
.cart-button {
    position: relative;

    &::after {
        content: attr(data-count);
        position: absolute;
        top: -8%;
        right: -20%;
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 50%;
        background-color: $color-default;
        color: #fff;
        font-size: .8rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.cart-image { max-width: 2.3rem; }
