.filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #999;
    margin-bottom: 2rem;

    .btn { margin-left: auto; }
}

.category {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

@media only screen and (min-width: 48em) {

    .filter-title { margin-right: 1.5rem; }
    .category { display: inline-block; }
    .category + .category { margin-left: 1.6rem; }

}

@media only screen and (max-width: 48em) {

    .filter > * { flex-basis: 100%; }
    .filter > .btn { margin-top: 1rem; }

}

.checkbox {
    position: absolute;
    pointer-events: none;
    opacity: 0;

    + label {
        position: relative;
        padding-left: 1.6rem;
        cursor: pointer;
        color: #999;
        font-size: .9rem;
        font-weight: 700;
        line-height: 1.3;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
        }

        &::before {
            background-color: #fafafa;
            border: 1px solid #ccc;
            width: 18px;
            height: 18px;
            transition: background-color .3s ease;
        }

        &::after {
            width: 5px;
            height: 11px;
            border-bottom: 2px solid #fff;
            border-right: 2px solid #fff;
            left: 6px;
            top: 2px;
            transform: rotate(45deg);
            opacity: 0;
            transition: opacity .2s ease;
        }

    }

    &:checked + label {

        &::before {
            background-color: $color-default;
            border: 1px solid $color-default;
        }

        &::after { opacity: 1; }
    }
}
