/* Group of products */
.products {
    &-title { margin-top: 0; }

    & + & { margin-top: 2rem; }
}


/* Product item */
.product {
    border: 2px solid transparent;
    font-size: .9rem;
    line-height: 1.6;
    padding: 1rem 1rem 2rem 1rem;
    margin-bottom: 1rem;
    transition:
        transform .6s ease,
        border-color .4s ease;

    &-personalize {
        color: #666;
        font-size: .8rem;
        text-transform: uppercase;
        padding-bottom: .2rem;
        border-bottom: 1px solid #e2e2e2;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;

        .icon { margin-right: .4rem; }
    }

    &-title {
        color: #010101;
        font-weight: 700;
        line-height: 1.2;
    }

    &-top {
        color: #999;
        text-transform: capitalize;
    }

    &-price {
        color: #666;

        .price-normal {
            display: block;
            font-size: 1.1rem;
            font-weight: 700;
        }
    }

    .btn {
        width: 100%;
        margin-top: 1rem;
        line-height: 1.1;
        transition:
            opacity .3s ease .15s,
            transform .4s ease .15s,
            background-color .3s ease,
            box-shadow .3s ease;

        &:hover {
            background-color: transparentize($color-default, .3);
            box-shadow: 0 2px 35px 0 transparentize($color-default, .7);
        }
    }
}

@media only screen and (min-width: 48em) {
    .product {

        .btn {
            opacity: 0;
            transform: translate3d(0, .2rem, 0);
        }

        &:hover {
            transform: translate3d(0, -.8rem, 0);
            border-color: #eee;

            .btn {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }
    }
}


/* Single product */
.single-product {
    font-size: .9rem;
    padding-bottom: 3rem;

    .product-image {
        width: 100%;
        height: 70vh;
        max-height: 50vh;
        background-size: cover;
        background-position: center center;
    }

    .product-title { margin-bottom: .2rem; }

    .product-price {
        margin-top: 1rem;

        .price-normal { font-size: 1.2rem; }
    }

    .product-actions {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .btn {
            flex-basis: 100%;
            font-size: .81rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .btn + .btn { margin-top: 1rem; }
    }
}

@media only screen and (min-width: 48em) {
    .single-product .product-image { max-height: 500px; }

    .single-product .product-actions {
        .btn { flex-basis: 48%; }
        .btn + .btn { margin-top: 0; }
    }
}
