/*
 * Group of products
 */
.products {
    &-title { margin-top: 0; }

    & + & { margin-top: 2rem; }
}


/*
 * Single product
 */
.product {
    border: 2px solid transparent;
    font-size: .9rem;
    line-height: 1.6;
    padding: 1rem 1rem 2rem 1rem;
    margin-bottom: 1rem;
    transition:
        transform .6s ease,
        border-color .4s ease;

    &:hover {
        transform: translate3d(0, -.8rem, 0);
        border-color: #eee;

        .btn {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }

    &-title {
        color: #010101;
        font-weight: 700;
        line-height: 1.2;
    }

    &-category {
        color: #999;
        text-transform: capitalize;
    }

    &-price {
        color: #666;

        .price-normal {
            display: block;
            font-size: 1.1rem;
            font-weight: 700;
        }
    }

    .btn {
        width: 100%;
        margin-top: 1rem;
        line-height: 1.1;
        opacity: 0;
        transform: translate3d(0, .2rem, 0);
        transition:
            opacity .3s ease .15s,
            transform .4s ease .15s,
            background-color .3s ease,
            box-shadow .3s ease;

        &:hover {
            background-color: transparentize($color-default, .3);
            box-shadow: 0 2px 35px 0 transparentize($color-default, .7);
        }
    }
}
