.slider {
    flex-wrap: nowrap;
    overflow: hidden;
    padding-top: 1rem;
}

/*
 * Bullets to controll the slider
 */
.slider-bullets {
    display: flex;
    justify-content: center;
}
.bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ddd;
    cursor: pointer;

    &.active { background-color: #aaa }

    & + & { margin-left: .5rem; }
}

@media only screen and (max-width: 48em) {
    .slider { overflow-x: scroll; }
}
