// Mobile menu animation
@keyframes slideRight {
    0% { transform: translate3d(-1.4rem, 0, 0); }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}


@keyframes slideUp {
    0% { transform: translate3d(0, 1rem, 0); }
    100% { transform: translate3d(0, 0, 0); }
}


@keyframes appear {
    100% { opacity: 1; }
}


@keyframes slideUpEase {
    0% { transform: translate3d(0, .2rem, 0); }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}


@keyframes showModal {
    0% { transform: translate3d(-50%, -50%, 0) scale(.9); }
    100% {
        transform: translate3d(-50%, -50%, 0) scale(1);
        // opacity: 1;
    }
}


/*
 * Animate something when the page is loaded
 */
.has-animation { opacity: 0; }
.has-animation.is-visible {
    animation:
        slideUp .6s ease,
        appear .6s ease forwards;
}
